html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*
  ========================================
  Custom styles
  ========================================
*/
:root {
  --dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}


body {
  font-family: 'Spartan', sans-serif;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

/*
  ========================================
  Grid
  ========================================
*/
.container {
  max-width: 375px;
  width: 91%;
  margin: 0 auto;
  margin-top: 4em;
}

.social-proof-main {
  background-image: url(images\bg-pattern-top-mobile.svg);
}

.social-proof-main-ratings {
  width: 94%;
}

/*
  ========================================
  Typography
  ========================================
*/
.social-proof-main-heading h1{
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: .95;
  color: var(--dark-magenta);
}

.social-proof-main-heading p {
  text-align: center;
  margin-top: 1.5em;
  font-size: .91rem;
  line-height: 1.7;
  color: var(--dark-grayish-magenta);
  font-weight: 500;
}
.social-proof-main-ratings {
  margin: 2em auto;
}

.ratings p {
  text-align: center;
  font-size: 1rem;
  color: var(--dark-magenta);
  font-weight: 700;
  margin: 1em 0;
  padding: 1.5em 0 1.5em;
  background:var(--light-grayish-magenta);
  border-radius: 8px;
}
/* Ratings section */
.ratings p::before {
  content: "";
  display: block;
  height: 1.5rem;
  width: 100px;
  background: url(images/icon-star.svg);
  margin:0 auto;
  margin-bottom: .3rem;
  background-repeat: space;
}

.social-proof-review-section {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.social-proof-review-section li {
  background-color: var(--dark-magenta);
  padding: 2em;
  color: var(--white);
  border-radius: 8px;
  margin: 1em auto;
}
.social-proof-img {
  position: relative;
  bottom: 5px;
  height: 40px;
  border-radius: 50%;
}

.split{
  display: flex;
  align-items: center;
}

.split div {
  margin-left: 1.5em;
}
.name, .verified {
  font-size: .9rem;
}
.name {
  font-weight: 700;
}
.verified {
  color: var(--soft-pink);
  line-height: 2;
}

.review {
  margin-top: 1em;
  font-size: .95rem;
  line-height: 1.5;
  letter-spacing: -0.23px;
}

/*
  ========================================
  Custom styles
  ========================================
*/

@media screen and (max-width: 300px) {
  .container {
    width: 95%
  }
  .social-proof-main-heading h1 {
    font-size: 1.8rem;
  }

  .social-proof-main-heading p{
    font-size: .8rem;
  }
  .review {
    font-size: .8rem;
  }
}



@media screen and (min-width: 1200px) {
  body {
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-position: 0% 0%, 100% 100%;
    background-repeat: no-repeat,no-repeat;
  }
  .container {
    max-width: 1200px;
  }
  .social-proof-main {
    display: flex;
    align-items: center;
  }

  .social-proof-main-heading {
    max-width: 700px;
  }
  .social-proof-main-heading, .social-proof-main-ratings {
    width: 100%;

  }
  .social-proof-main-ratings {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .ratings {
    max-width: none;
  }
  /* Ratings Sections  */
  .ratings p{
    padding: 1.25em 6em 1.25em 3em;
    font-size: 1rem;
    margin: .5rem;
  }
  .ratings p::before {
    content: "";
    display: inline-block;
    position: relative;
    height: 1rem;
    right: 1.5rem;
    bottom: -.4rem;
    margin:0 auto;
    margin-bottom: .3rem;
    background-repeat: space;
  }

  .social-proof-main-ratings .ratings:first-child {
    align-self: flex-start;
  }

  .social-proof-main-ratings .ratings:nth-child(2) {
    align-self: center;
  }

  .social-proof-main-ratings .ratings:last-child {
    align-self: flex-end;
  }

  .social-proof-main-heading h1, .social-proof-main-heading p {
    max-width: 500px;
    text-align: left;
  }

  .social-proof-review-section {
    margin-top: 2em;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .social-proof-review-section li {
    padding: 2em 2.5em 1em;
  }
  .social-proof-review-section li > p {
    margin-top: 2em;
  }
  .social-proof-review-section li:first-child{
    margin-top: 1.5em;
    margin-right: 2em ;
    margin-bottom: 5em;
  }

  .social-proof-review-section li:nth-child(2) {
    margin: 3em 0 3.5em;
  }
  .social-proof-review-section li:last-child {
    margin-left: 2em;
    margin-top: 5em;
    margin-bottom: 2em;
  }

  /* Typography */
  .social-proof-main-heading h1 {
    font-size: 3rem;
    line-height: 1.1;
  }

  .social-proof-main-heading p {
    font-size: 1.02rem;
    line-height: 1.5;
  }

  .name, .verified {
    font-size: .9rem;
  }
  .review {
    font-size: .85rem;
    margin-bottom: .8em;
  }
  .social-proof-img {
    height: 45px;
  }

}